<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-9">
        <h2>Edit Product</h2>
        <form action="{% url 'editCust' item.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputName">Customer Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" value="{{ item.CustName }}">
          </div>
          <div class="form-group">
            <label for="inputBirth">Birthday</label>
            <input type="date" class="form-control" id="inputBirth" name="inputBirth" value="{{ item.birthday|date:'Y-m-d' }}">
          </div>
          <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="text" class="form-control" id="inputPhone" name="inputPhone" value="{{ item.phone }}">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="{{ item.email }}">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>