<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
  </style>
</head>
<body>
  <script type="text/javascript">
    function closePage(custId,custName,custPhone) {
      var event = new CustomEvent('returnCustInfo', {
        detail: {
            custId: custId,
            custName: custName,
            custPhone: custPhone
        }
      });
      window.opener.dispatchEvent(event); // Dispatch the event to the parent window
      window.close(); // Close the child window
    }
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-9">
        <form action="{% url 'searchCust' %}" method="post">
          {% csrf_token %}
          <div class="form-inline">
            <div class="form-group">
              <label for="custName">Customer Name:</label>
              <input type="text" class="form-control" id="custName" name="custName" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="custBirth">Birthday:</label>
              <input type="date" class="form-control" id="custBirth" name="custBirth">
            </div>
            <div class="form-group">
              <label for="custPhone">Phone Num:</label>
              <input type="text" class="form-control" id="custPhone" name="custPhone" placeholder="07-xxxxxxxxx">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        <hr class="horiline">
        <br>
        {% if custList %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Customer Name</th>
              <th>Birthday</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
            <tbody>
              {% for i in custList %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.CustName}}</td>
                <td>{{i.birthday}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.email}}</td>
                <td>
                  <button onclick="closePage('{{ i.id }}', '{{ i.CustName }}', '{{ i.phone }}')">Add</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>