<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
  </style>
</head>
<body>
  <script type="text/javascript">
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-9">
        <form class="form-group" action="{% url 'doSearch' %}" method="post">
          {% csrf_token %}
          <div class="form-inline">
            <div class="form-group">
              <label>Category:</label>
              <select class="form-control" id="selectedCate" name="selectedCate">
                <option value="">-- Select Category --</option>
                {% for cate in cateList %}
                <option value="{{ cate.id }}" {% if cate.id == searchCate %}selected{% endif %}>{{ cate.CategoryName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Brand:</label>
              <select class="form-control" id="selectedBrand" name="selectedBrand">
                <option value="">-- Select Brand --</option>
                {% for brand in brandList %}
                <option value="{{ brand.id }}" {% if brand.id == searchBrand %}selected{% endif %}>{{ brand.BrandName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Supplier:</label>
              <select class="form-control" id="selectedSup" name="selectedSup">
                <option value="">-- Select Supplier --</option>
                {% for sup in supplierList %}
                <option value="{{ sup.id }}" {% if sup.id == searchSup %}selected{% endif %}>{{ sup.SupplierName }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div class="form-inline">
            <div class="form-group">
              <label>Product:</label>
              <input type="text" class="form-control" id="prodName" name="prodName"
               {% if searchName %} value="{{ searchName }}"
               {% else %} placeholder="Enter Product Name" {% endif %}>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        <br>
        <form class="form-inline" action="{% url 'newProd' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">+New</button>
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Cost</th>
              <th>Supplier</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in prodList %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.ProdName}}</td>
              <td>
                {% for cate in cateList %}
                {% if cate.id == i.CategoryID %}
                {{ cate.CategoryName }}
                {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for brand in brandList %}
                {% if brand.id == i.BrandID %}
                {{ brand.BrandName }}
                {% endif %}
                {% endfor %}
              </td>
              <td>{{i.cost}}</td>
              <td>
                {% for sup in supplierList %}
                {% if sup.id == i.SupplierID %}
                {{ sup.SupplierName }}
                {% endif %}
                {% endfor %}
              </td>
              <td>{{i.price}}</td>
              <td>
                <form class="form-inline" action="{% url 'deleteProd' i.id%}" method="post">
                  {% csrf_token %}
                  <a class="btn btn-info btn-sm mr-2" href="{% url 'editProd' i.id %}">Edit</a>
                  <button type="submit" class="btn btn-danger btn-sm ml-2">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>