<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
  </style>
</head>
<body>
  <script type="text/javascript">
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-10">
        <form action="{% url 'saleHis' %}" method="post">
          {% csrf_token %}
          <div class="form-inline">
            <div class="form-inline">
              <div class="form-group">
                <label for="custName">Customer Name:</label>
                <input type="text" class="form-control" id="custName" name="custName"
                 {% if searchCustName %} value="{{ searchCustName }}"
                 {% else %} placeholder="Enter Name" {% endif %}>
              </div>
              <div class="form-group">
                <label for="custPhone">Phone Num:</label>
                <input type="text" class="form-control" id="custPhone" name="custPhone"
                {% if searchPhone %} value="{{ searchPhone }}"
                {% else %} placeholder="07-xxxxxxxxx" {% endif %}>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label>Category:</label>
              <select class="form-control" id="selectedCate" name="selectedCate">
                <option value="">-- Select Category --</option>
                {% for cate in cateList %}
                <option value="{{ cate.id }}" {% if cate.id == searchCate %}selected{% endif %}>{{ cate.CategoryName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Brand:</label>
              <select class="form-control" id="selectedBrand" name="selectedBrand">
                <option value="">-- Select Brand --</option>
                {% for brand in brandList %}
                <option value="{{ brand.id }}" {% if brand.id == searchBrand %}selected{% endif %}>{{ brand.BrandName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Product:</label>
              <input type="text" class="form-control" id="prodName" name="prodName"
               {% if searchName %} value="{{ searchName }}"
               {% else %} placeholder="Enter Product Name" {% endif %}>
            </div>
            <div class="form-group">
                <label for="saleDate">Date:</label>
                <input type="date" class="form-control" id="saleDate" name="saleDate">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Customer Name</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for i in saleList %}
            <tr>
              <td>{{i.0}}</td>
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td>{{i.4}}</td>
              <td>{{i.5}}</td>
              <td>{{i.6}}</td>
              <td>{{i.7}}</td>
              <td>{{i.8}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>