<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
    hr.horiline{
      border-top: 1px solid #8c8b8b;
    }
  </style>
</head>
<body>
  <script>
    //Get the passed status value
    var status = "{{ status }}";
    // Check the status value after the page loads and trigger the alert message
    window.onload = function() {
      if (status === 'success') {
        swal({
          title: 'Add to cart successfully',
          showCancelButton: true,
          confirmButtonText: 'Last Page',
          cancelButtonText: 'Go to Chart',
          confirmButtonColor: '#D3D3D3',
          cancelButtonColor: '#3085d6',
        }).then(function (isConfirm) {
            if (isConfirm) {
              window.location.href = $("#purUrl").attr("data-url");
            }
        }).catch(function(reason){
          window.location.href = $("#orUrl").attr("data-url");
        });
      }else if(status === 'fail'){
        alert("Quantity should more than zero");
      }
    };
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-9">
        <h3>{{prodStock.ProdName}}</h3>
        <form action="{% url 'doPurchase' prodInfo.id %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <p class="text-dark" style="font-size: 18px;">
                In stock: <span class="text-primary">{{prodStock.quantity}}</span>
              </p>
            </div>
            <div class="col-md-5">
              <p class="text-dark" style="font-size: 18px;">
                Sales volume in next two days: <span class="text-success">{{salePred}}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="text-dark" style="font-size: 18px;">
                On the way: <span class="text-primary">{{deliverQty}}</span>
              </p>
            </div>
            <div class="col-md-5">
              <p class="text-dark" style="font-size: 18px;">
                Recommended order amount: <span class="text-success">{{reccomQty}}</span>
              </p>
            </div>
          </div>
          <hr class="horiline">
          <div class="row">
            <div class="col-md-4">
              <p class="text-dark" style="font-size: 18px;">
                Price: <span class="text-primary">{{prodInfo.price}}</span>
              </p>
            </div>
            <div class="col-md-5">
              <p class="text-dark" style="font-size: 18px;">
                Order Quantity:
                <select id="inputQty" name="inputQty">
                  {% for i in qtyList %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
              </p>
            </div>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </div>
        </form>
        <input type="hidden" id="purUrl" data-url="{% url 'purchaseInit' %}" />
        <input type="hidden" id="orUrl" data-url="{% url 'orderList' %}" />
        <hr class="horiline">
      </div>
      <div class="col-sm-8">
        <h4>Demand Prediction</h4>
        <div class="row">
          <div class="col-md-7">
            <canvas id="lineChart" width="10" height="5"></canvas>
          </div>
          <div class="col-md-5">
            <p class="text-dark" style="font-size: 18px;">
              <span class="text-primary">{{todayPred}} </span>items will be sold today
            </p>
            <p class="text-dark" style="font-size: 18px;">
              <span class="text-primary">{{salePred}} </span>items will be sold in next two days
            </p>
          </div>
        </div>
        <script type="text/javascript">
          var ctx = document.getElementById('lineChart').getContext('2d');
          var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
              datasets: [{
                label:'Quantity of sale',
                data: [{% for da in data %} '{{ da }}', {% endfor %}],
                backgroundColor:[
                '#A6CDE7',
                ],
                borderColor: [
                'rgba(54, 162, 135, 1)',
                'rgba(25, 206, 86, 1)',
                'rgba(211, 192, 192, 1)',
                'rgba(234, 102, 132, 1)',
                'rgba(153, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        </script>
      </div>
    </div>
  </div>
</body>
</html>