<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }
  </style>
</head>
<body>
  <script type="text/javascript">
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-10">
        <form action="{% url 'purchaseHis' %}" method="post">
          {% csrf_token %}
          <div class="form-inline">
            <div class="form-group">
              <label>Category:</label>
              <select class="form-control" id="selectedCate" name="selectedCate">
                <option value="">-- Select Category --</option>
                {% for cate in cateList %}
                <option value="{{ cate.id }}" {% if cate.id == searchCate %}selected{% endif %}>{{ cate.CategoryName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
            <label>Status:</label>
              <select class="form-control" id="selectedStatus" name="selectedStatus">
                <option value="" >-- Select Status --</option>
                <option value="P" {% if "P" == searchStatus %}selected{% endif %}>Pending</option>
                <option value="D" {% if "D" == searchStatus %}selected{% endif %}>Delivering</option>
                <option value="C"{% if "C" == searchStatus %}selected{% endif %}>Completed</option>
              </select>
            </div>
            <div class="form-group">
              <label>Supplier:</label>
              <select class="form-control" id="selectedSup" name="selectedSup">
                <option value="">-- Select Supplier --</option>
                {% for sup in supplierList %}
                <option value="{{ sup.id }}" {% if sup.id == searchSup %}selected{% endif %}>{{ sup.SupplierName }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div class="form-inline">
            <div class="form-group">
              <label>Product:</label>
              <input type="text" class="form-control" id="prodName" name="prodName"
               {% if searchName %} value="{{ searchName }}"
               {% else %} placeholder="Enter Product Name" {% endif %}>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Date</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Supplier</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in purchaseList %}
            <tr>
              <td>{{i.0}}</td>
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td>{{i.4}}</td>
              <td>{{i.5}}</td>
              <td>{{i.6}}</td>
              <td>{{i.7}}</td>
              <td>
                {% if i.8 == "D" %}Delivering
                {% elif i.8 == "C" %} Completed
                {% elif i.8 == "P" %} Pending {% endif %}
              </td>
              <td>
                <form class="form-inline" action="{% url 'editStatus' i.0 %}" method="post">
                  {% csrf_token %}
                  {% if i.8 == "D" %}<button type="submit" class="btn btn-danger btn-sm ml-2">Delivered</button>{% endif %}
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>