<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 16%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
          height: auto;
      }
    }

    .supplier-column {
    max-width: 200px; /* Adjust the width as needed */
    word-wrap: break-word;
  }
  </style>
</head>
<body>
  <script type="text/javascript">
  </script>
  <div class="container-fluid">
    <div class="row content">
      <!-- Include sideBar -->
      {% include "sideBar.html" %}
      <br>
      <div class="col-sm-10">
        <form action="{% url 'purchaseInit' %}" method="post">
          {% csrf_token %}
          <div class="form-inline">
            <div class="form-group">
              <label>Category:</label>
              <select class="form-control" id="selectedCate" name="selectedCate">
                <option value="">-- Select Category --</option>
                {% for cate in cateList %}
                <option value="{{ cate.id }}" {% if cate.id == searchCate %}selected{% endif %}>{{ cate.CategoryName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Brand:</label>
              <select class="form-control" id="selectedBrand" name="selectedBrand">
                <option value="">-- Select Brand --</option>
                {% for brand in brandList %}
                <option value="{{ brand.id }}" {% if brand.id == searchBrand %}selected{% endif %}>{{ brand.BrandName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Supplier:</label>
              <select class="form-control" id="selectedSup" name="selectedSup">
                <option value="">-- Select Supplier --</option>
                {% for sup in supplierList %}
                <option value="{{ sup.id }}" {% if sup.id == searchSup %}selected{% endif %}>{{ sup.SupplierName }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div class="form-inline">
            <div class="form-group">
              <label>Product:</label>
              <input type="text" class="form-control" id="prodName" name="prodName"
               {% if searchName %} value="{{ searchName }}"
               {% else %} placeholder="Enter Product Name" {% endif %}>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Supplier</th>
              <th>Cost</th>
              <th>In Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in stockList %}
            <tr>
              <td>{{i.0}}</td>
              <td>{{i.1}}</td>
              <td>{{i.2}}</td>
              <td>{{i.3}}</td>
              <td class="supplier-column">{{i.4}}</td>
              <td>{{i.5}}</td>
              <td>{{i.6}}</td>
              <td><a class="btn btn-info btn-sm mr-2" href="{% url 'doPurchase' i.0 %}">Purchase</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>